<h1 class="title">List of Contacts</h1>

<div class="addbutton">
<%= link_to "Add New Contact", "/contacts/create", class: 'btn btn-primary' %>
</div>
<br />
<div class="list-group">

  <% @contacts.each do |contact| %>
    <a href="/contacts/<%= contact.id %>" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h4 class="mb-1"><%= contact.firstname %> <%= contact.lastname %></h4>
        <small><%= (Time.zone.now - contact.created_at).to_i/ 1.day %> days ago</small>
      </div>
      <p class="mb-1">email: <%= contact.email %></p>
      <small>phone: <%= contact.phone %></small>
    </a>
  <% end %>

</div>
