<br />
<br />
<br />
<div class="card text-white bg-secondary mb-3 createcard">
  <h1 class="display-4 createtitle">Edit Contact</h1>
  <form action="/contacts/update/<%= @contact.id %>" method="GET" class="formcard">
    <div class="form-group">
      <div>
        <label>First name </label>
      </div>
      <input type="text" name="first_name" class="inputi"value=<%= @contact.firstname %> required/>
    </div>
    <div class="form-group">
      <div>
        <label>Last name </label>
      </div>
      <input type="text" name="last_name" class="inputi" value=<%= @contact.lastname %> required/>
    </div>
    <div class="form-group">
      <div>
        <label>Email </label>
      </div>
      <input type="text" name="email" class="inputi" value=<%= @contact.email %> required/>
    </div>
    <div class="form-group">
      <div>
        <label>Phone </label>
      </div>
      <input type="text" name="phone" class="inputi" value=<%= @contact.phone %> required/>
    </div>
    <hr class="my-4">
    <div class="buttonform">
      <div>
        <button type="submit" value="Update contact"  class="btn btn-primary">Update Contact</button>
      </div>
      <div class="backbutton">
        <%= link_to "Back to Contact", "/contacts/#{@contact.id}", class: 'btn btn-outline-primary btn-sm' %>
      </div>
    </div>
  </form>
</div>
